In [2]:
import pandas as pd

In [3]:
EURO = pd.read_csv('euro2024_players.csv')
EURO

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany
...,...,...,...,...,...,...,...,...,...,...
618,Adam Hlozek,Second Striker,21,Bayer 04 Leverkusen,188,right,31,2,12000000,Czech Republic
619,Patrik Schick,Centre-Forward,28,Bayer 04 Leverkusen,191,left,37,18,22000000,Czech Republic
620,Mojmír Chytil,Centre-Forward,25,SK Slavia Prague,187,-,12,4,6500000,Czech Republic
621,Jan Kuchta,Centre-Forward,27,AC Sparta Prague,185,right,20,3,5000000,Czech Republic
622,Tomas Chory,Centre-Forward,29,FC Viktoria Plzen,199,right,3,2,3200000,Czech Republic

In [4]:
name =EURO['Name']
name

0      Marc-André ter Stegen
1               Manuel Neuer
2             Oliver Baumann
3         Nico Schlotterbeck
4               Jonathan Tah
               ...
618              Adam Hlozek
619            Patrik Schick
620            Mojmír Chytil
621               Jan Kuchta
622              Tomas Chory
Name: Name, Length: 623, dtype: object

In [5]:
position = EURO['Position']
position

0          Goalkeeper
1          Goalkeeper
2          Goalkeeper
3         Centre-Back
4         Centre-Back
            ...
618    Second Striker
619    Centre-Forward
620    Centre-Forward
621    Centre-Forward
622    Centre-Forward
Name: Position, Length: 623, dtype: object

In [6]:
age = EURO['Age']
age

0      32
1      38
2      34
3      24
4      28
       ..
618    21
619    28
620    25
621    27
622    29
Name: Age, Length: 623, dtype: int64

In [7]:
club = EURO['Club']
club

0             FC Barcelona
1            Bayern Munich
2      TSG 1899 Hoffenheim
3        Borussia Dortmund
4      Bayer 04 Leverkusen
              ...
618    Bayer 04 Leverkusen
619    Bayer 04 Leverkusen
620       SK Slavia Prague
621       AC Sparta Prague
622      FC Viktoria Plzen
Name: Club, Length: 623, dtype: object

In [8]:
height = EURO['Height']
height

0      187
1      193
2      187
3      191
4      195
      ...
618    188
619    191
620    187
621    185
622    199
Name: Height, Length: 623, dtype: int64

In [9]:
foot = EURO['Foot']
foot

0      right
1      right
2      right
3       left
4      right
       ...
618    right
619     left
620        -
621    right
622    right
Name: Foot, Length: 623, dtype: object

In [10]:
caps = EURO['Goals']
caps

0       0
1       0
2       0
3       0
4       0
       ..
618     2
619    18
620     4
621     3
622     2
Name: Goals, Length: 623, dtype: int64

In [11]:
market = EURO['MarketValue']
market

0      28000000
1       4000000
2       3000000
3      40000000
4      30000000
         ...
618    12000000
619    22000000
620     6500000
621     5000000
622     3200000
Name: MarketValue, Length: 623, dtype: int64

In [12]:
countrys = EURO['Country']
countrys

0             Germany
1             Germany
2             Germany
3             Germany
4             Germany
            ...
618    Czech Republic
619    Czech Republic
620    Czech Republic
621    Czech Republic
622    Czech Republic
Name: Country, Length: 623, dtype: object

In [13]:
EURO.to_excel('EURO.xlsx', sheet_name= 'Name', index=False)

In [14]:
EURO = pd.read_excel('EURO.xlsx', sheet_name= 'Name')